# Ignore unnecessary files to reduce image size and avoid secrets
node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
Dockerfile
.dockerignore
.github
Jenkinsfile
docker-compose.yml